body{
  background: #F5F6F7;
  scroll-behavior: smooth;
}
.c1 {
   
   width: 100%;
   padding-top: 50px;
   
  }
  .c2 {
    display: flex;
    flex-direction: column;
  
  
    
   }

  .center {
    width: 100%;
   padding-top: 120px;
  }
 
  .topic{
    width: 100%;
    background-color: #65599c;
   
  }  
  .test1 {
    color: white;
    text-align: center;
    padding: 2px;
    background: #65599c; 
    width: 100%;

  }
  .test2 {
    padding: 10px;
    padding-top: 10px;
    background:  #65599c; 
    width: 100%;

  }
  .input2[type=text], input[type=password] {
    background-color: #fdfdfd;
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  border-bottom: 2px solid #65599c;
  box-sizing: border-box;
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 8px;
    text-align: right;
    
  }
  .border_bottom  {
    border-bottom: 1px solid #ddd;
  }
  tr.each_row_bg {
    background-color: rgba(245, 246, 247, 0.76);
  }
  .card .card-header {
    background-color: #ced4da; 
 
  }
  .card .card-header2 {
    background-color: #222222; 
 
  }
  
  .sticky{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: transparent;
    font-size: 20px;
  }
 